.price-range-slider-container {
    padding-top: 10px;
}

.price-range-slider {
    display: flex;
    align-items: center;
}

mat-slider {
    height: 30px;
    top: -10px;
}
div {
    font-size: 1rem;
}
