<h1 mat-dialog-title>{{ editorMode }}</h1>

<mat-dialog-content>
  <form [formGroup]="stockForm">
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="symbol">Symbol</mat-label>
      <input matInput required formControlName="symbol" type="text" id="symbol" class="form-control">
      <mat-error *ngIf="symbol.hasError('required')">Stock symbol is Required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="shareOwned">Shares</mat-label>
      <input matInput required formControlName="sharesOwned" type="number" id="sharesOwned" class="form-control">
      <mat-error *ngIf="sharesOwned.hasError('required')">Number of shares owned is Required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="costAverage">Cost Average</mat-label>
      <input matInput required formControlName="costAverage" type="number" id="costAverage" class="form-control">
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="costAverage.hasError('required')">Cost average is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="account">Account</mat-label>
      <mat-select formControlName="account">
        <mat-option *ngFor="let account of accountOptions" value="{{account}}">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [disabled]="!stockForm.valid" [mat-dialog-close]="stockForm.value" type="submit">
    Save
  </button>
</mat-dialog-actions>
