<div class="research-header">
  <form class="search-form" [formGroup]="searchForm">
    <mat-form-field class="search-field" (keyup.enter)="searchTicker($event)">
      <mat-label>Search Stock</mat-label>
      <input matInput type="text" formControlName="searchField" placeholder="ticker" />
    </mat-form-field>
  </form>
</div>

<div *ngIf="!stockStats">
  <app-stock-chart-panel [symbol]="'INDEX:GSPC'" [width]="'33%'"></app-stock-chart-panel>
  <app-stock-chart-panel [symbol]="'INDEX:DJI'" [width]="'33%'"></app-stock-chart-panel>
  <app-stock-chart-panel [symbol]="'INDEX:IXIC'" [width]="'33%'"></app-stock-chart-panel>
</div>

<ng-container *ngIf="stockStats">
  <app-stock-chart-panel [symbol]="stockStats.symbol"></app-stock-chart-panel>
  <mat-divider></mat-divider>
  <app-stock-stats-panel [stockStats]="stockStats"></app-stock-stats-panel>
  <mat-divider></mat-divider>
  <app-symbol-financials-widget symbol="{{stockStats.symbol}}"></app-symbol-financials-widget>
  <mat-divider></mat-divider>
  <h1>News</h1>
  <ng-container *ngIf="stockNews">
    <app-stock-news-panel [news]="stockNews"></app-stock-news-panel>
  </ng-container>
  <mat-divider></mat-divider>
  <app-symbol-profile-widget symbol="{{stockStats.symbol}}"></app-symbol-profile-widget>
  <div class="bottom"></div>
</ng-container>
