<mat-divider></mat-divider>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Chart">
    <app-stock-chart-panel [symbol]="stockStats.symbol"></app-stock-chart-panel>
  </mat-tab>å

  <mat-tab label="Stats">
    <app-stock-stats-panel [stockStats]="stockStats"></app-stock-stats-panel>
  </mat-tab>

  <mat-tab label="financials">
    <app-symbol-financials-widget [symbol]="stockStats.symbol"></app-symbol-financials-widget>
  </mat-tab>

  <mat-tab label="News">
    <app-stock-news-panel [news]="stockNews"></app-stock-news-panel>
  </mat-tab>

  <mat-tab label="Company">
    <app-stock-profile-panel [symbol]="stockStats.symbol" [profile]="stockStats.summaryProfile"></app-stock-profile-panel>
  </mat-tab>
</mat-tab-group>
