<div class="nav-sidebar">
  <button mat-button color="primary" routerLink='/' routerLinkActive="active-page">
    <mat-icon class="material-icons-round">area_chart</mat-icon>
  </button>
  <button mat-button color="primary" routerLink='/research' routerLinkActive="active-page">
    <mat-icon class="material-icons-round">search</mat-icon>
  </button>
  <button mat-button color="primary" routerLink='/updates' routerLinkActive="active-page">
    <mat-icon class="material-icons-round">tips_and_updates</mat-icon>
  </button>
</div>
