<div class="stock-info-header">
  <app-single-quote-widget [symbol]="symbol"></app-single-quote-widget>

  <app-stat-card
  icon="percent"
  [value]="stockInfo.stats.summaryDetail.beta"
  subtitle="Beta"
  ></app-stat-card>
  
  <app-stat-card
  icon="percent"
  [value]="stockInfo.stats.summaryDetail.forwardPE"
  subtitle="Forward PE"
  ></app-stat-card>

  <app-stat-card
  icon="paid"
  [value]="stockInfo.stats.summaryDetail.marketCap"
  subtitle="Market Cap"
  ></app-stat-card>

  <app-stat-card
  icon="numbers"
  [value]="stockInfo.stats.summaryDetail.volume"
  subtitle="Volume"
  ></app-stat-card>
</div>

<app-stock-chart-panel [symbol]="symbol"></app-stock-chart-panel>

<app-symbol-financials-widget
  [symbol]="symbol"
  displayMode="compact"
></app-symbol-financials-widget>
<app-symbol-profile-widget [symbol]="symbol"></app-symbol-profile-widget>
