.holdings-actions {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.holdings-actions > div {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.holdings-table {
  width: 100%;
}

.form-group {
  margin-left: 2%;
  width: max-content;
}
