<mat-slide-toggle color="primary" checked="true" class="widget-toggle" labelPosition="before" (change)="handleToggle($event)">Show mini charts</mat-slide-toggle>
<div class="widget-container">
    <div *ngIf="showMiniChartWidget; else showSingleQuoteWidget" class="widget-container">
        <app-mini-chart-widget *ngFor="let ticker of holdings" symbol="{{ ticker }}" class="mini-chart-widget"></app-mini-chart-widget>
    </div>
    <ng-template #showSingleQuoteWidget class="widget-container">
        <app-single-quote-widget *ngFor="let ticker of holdings" symbol="{{ ticker }}" class="single-quote-widget"></app-single-quote-widget>
    </ng-template>
</div>