/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 99%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button-toggle-appearance-standard
.mat-button-toggle-label-content {
  line-height: 25px;
  color: steelblue;
}